<!DOCTYPE html>
<html>
<head>
<title>World of Games ERROR</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('https://cdna.artstation.com/p/assets/images/images/035/055/564/large/silvertm-fantasydungeon2skreen-1.jpg?1613997178');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
</head>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    <h1>
      World Of Games
    </h1>
  </div>

  <div class="w3-display-middle">
      <h1><div id ="ERROR"> You didn't play yet traveler!</div></h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center">Please start a new game and return here to check your score</p>
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
    Made by Michael Liav <a href="https://www.w3schools.com/w3css/default.asp" target="_blank"</a>
  </div>
</div>

</body>
</html>